<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Meeting Minutes</title>
  </head>
  <body>
    <p>Title:<%= @minute.title %></p>
    <p>Date:<%= @minute.date %></p>
    <p>Chairman:<%= @minute.chairman %></p>
    <p>Department:<%= @minute.department %></p>
    <p>Location:<%= @minute.location %></p>
    <p>Participant:<%= @minute.participant %></p>
    <p>Absent:<%= @minute.absent %></p>
    <p>cc:<%= @minute.cc %></p>
    <p>agenda:<%= @minute.agenda %></p>
    <p>number:<%= @minute.nummer %></p>
    <p>Subject:<%= @minute.subject %></p>
    <p>Action:<%= @minute.action %></p>
    <p>Responsible:<%= @minute.responsible %></p>
    <p>Due Date:<%= @minute.duedate %></p>
    <p>Status:<%= @minute.status %></p>
  </body>
</html>
