<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Meeting</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <ul>
  <li><%= link_to "Top Page", root_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meeting Minutes <span class="caret"></span></a>

    <ul class="dropdown-menu">
      <li><%= link_to "Create", new_minute_path %></li>
      <li><%= link_to "Edit, Delete or Submit", store_minutes_path %></li>
      <li><%= link_to "Submitted Minutes", minutes_path %></li>
    </ul>
  </li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">To Do List <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to "New", new_todo_path %></li>
      <li><%= link_to "Update or Delete", todos_path %></li>
    </ul>
  </li>

  <% if user_signed_in? %>
  <li><%= link_to 'Change your password', edit_user_registration_path %>
  </li>
    <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to 'Log in', new_user_session_path  %></li>

  <% end %>


</ul>

  </header>
<%= yield %>

<footer>
    <p>Created by Sauer</p>
    <p>© 2017 Copyright Sauer</p>
  </footer>


</body>
</html>
